
Badge {
    cursor: pointer;
}
.heading {
    font-weight: 700;
}
th {
    text-align: center;
}

.badgePointer {
    cursor: pointer;
}

.CssTableColumn th{
    font-size: 10px;
    padding-left:0px;
    padding-right:0px;
}

.CssTableColumn td{
    padding-left:0px;
    padding-right:0px;
}
.CssTableColumn input{
    border-color: #fff8fd;
    outline: none;
}
.noPadding{
    padding-left: 0px;
    padding-right: 0px;
}

.StandardInputForm {
    height: 30px;
}

