@font-face {

    src: url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    src: local('Do Hyeon'), local('Nunito-Light'), url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap') format('embedded-opentype'), url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap') format('woff'), url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap') format('truetype'), url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap') format('svg');
  
    font-family: 'Do Hyeon', sans-serif;
}
  
